{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>我的跟踪</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/adminx.css' %}" media="screen" />
{#    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bungee&display=swap">#}
    <!-- jQuery library -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
    .pagination-container {
        position: fixed;
        bottom: 0;
        left: 50%;
        right: 50%;
        text-align: center;
    }
    .breadcrumb {
    background-color: #ffffff;
}
    </style>

</head>
<body>
    <div class="adminx-container">
      <nav class="navbar navbar-expand justify-content-between fixed-top">
        <a class="navbar-brand mb-0 h1 d-none d-md-block" href="/">
          <img src="{% static 'demo/img/logo.png' %}" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
          基于区块链的科研成果可信转化协同管理系统
        </a>
          
        <!--搜索框-->
        <form class="form-inline form-quicksearch d-none d-md-block mx-auto">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-icon">
                <i data-feather="search"></i>
              </div>
            </div>
            <input type="text" class="form-control" id="search" placeholder="Type to search...">
          </div>
        </form>
        <!--适配小屏幕的菜单栏-->  
        <div class="d-flex flex-1 d-block d-md-none">
          <a href="#" class="sidebar-toggle ml-3">
            <i data-feather="menu"></i>
          </a>
        </div>

        <ul class="navbar-nav d-flex justify-content-end mr-2">
          <!-- Notificatoins消息通知 -->
          <li class="nav-item dropdown d-flex align-items-center mr-2">
            <a class="nav-link nav-link-notifications" id="dropdownNotifications" data-toggle="dropdown" href="#">
              <i class="oi oi-bell display-inline-block align-middle"></i>
              <span class="nav-link-notification-number">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-notifications" aria-labelledby="dropdownNotifications">
              <div class="notifications-header d-flex justify-content-between align-items-center">
                <span class="notifications-header-title">
                  通知
                </span>
                <a href="#" class="d-flex"><small>标为已读</small></a>
              </div>
              <!--通知列表-->
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action unread">
                  <p class="mb-1">Invitation for <strong>Lunch</strong> on <strong>Jan 12th 2018</strong> by <strong>Laura</strong></p>
                  <div class="mb-1">
                    <button type="button" class="btn btn-primary btn-sm">Accept invite</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Decline</button>
                  </div>
                  <small>1 hour ago</small>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                  <p class="mb-1"><strong class="text-success">Goal completed</strong><br />1,000 new members today</p>
                  <small>3 days ago</small>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                  <p class="mb-1 text-danger"><strong>System error detected</strong></p>
                  <small>3 days ago</small>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                  <p class="mb-1">Your task <strong>Design Draft</strong> is due today.</p>
                  <small>4 days ago</small>
                </a>
              </div>

              <div class="notifications-footer text-center">
                <a href="#"><small>View all notifications</small></a>
              </div>
            </div>
          </li>
          <!-- Notifications个人资料 -->
<li class="nav-item dropdown">
    <a class="nav-link avatar-with-name" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#">
        <i data-feather="user" class="nav-icon"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        {% if request.session.username %}
            <a class="dropdown-item text-center" href="/login/user_profile/">{{ request.session.username }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-center text-danger" href="/login/logout/">登出</a>
        {% else %}
            <a class="dropdown-item text-center" href="/login/">登录</a>
        {% endif %}
    </div>
</li>
        </ul>
      </nav>

      <!-- expand-hover push -->
      <!-- Sidebar -->
      <div class="adminx-sidebar expand-hover push">
        <ul class="sidebar-nav">
          <li class="sidebar-nav-item">
            <a href="/stats/" class="sidebar-nav-link ">
              <span class="sidebar-nav-icon">
                <i data-feather="home"></i>
              </span>
              <span class="sidebar-nav-name">
                首页
              </span>
              <span class="sidebar-nav-end">

              </span>
            </a>
          </li>
            
          <li class="sidebar-nav-item">
            <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#navExtra" aria-expanded="false" aria-controls="navExtra">
              <span class="sidebar-nav-icon">
                <i data-feather="edit"></i>
              </span>
              <span class="sidebar-nav-name">
                发布管理
              </span>
              <span class="sidebar-nav-end">
                <i data-feather="chevron-right" class="nav-collapse-icon"></i>
              </span>
            </a>

            <ul class="sidebar-sub-nav collapse" id="navExtra">
              <li class="sidebar-nav-item">
                <a href="/create/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Li
                  </span>
                  <span class="sidebar-nav-name">
                    立即发布
                  </span>
                </a>
              </li>

              <li class="sidebar-nav-item">
                <a href="/create/results_created_list/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    My
                  </span>
                  <span class="sidebar-nav-name">
                    我的发布
                  </span>
                </a>
              </li>
            </ul>
          </li>

          <li class="sidebar-nav-item">
            <a class="sidebar-nav-link collapsed " data-toggle="collapse" href="#example" aria-expanded="false" aria-controls="example">
              <span class="sidebar-nav-icon">
                <i data-feather="book"></i>
              </span>
              <span class="sidebar-nav-name">
                审核管理
              </span>
              <span class="sidebar-nav-end">
                <i data-feather="chevron-right" class="nav-collapse-icon"></i>
              </span>
            </a>

            <ul class="sidebar-sub-nav collapse" id="example">
              <li class="sidebar-nav-item">
                <a href="/review/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Ap
                  </span>
                  <span class="sidebar-nav-name">
                    我的申请
                  </span>
                </a>
              </li>

              <li class="sidebar-nav-item">
                <a href="/review/review_deal/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Ch
                  </span>
                  <span class="sidebar-nav-name">
                    我的审核
                  </span>
                </a>
              </li>
                
              <li class="sidebar-nav-item">
                <a href="/review/review_records/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Re
                  </span>
                  <span class="sidebar-nav-name">
                    审核记录
                  </span>
                </a>
              </li>
            </ul>
          </li>

          <li class="sidebar-nav-item">
            <a class="sidebar-nav-link collapsed " data-toggle="collapse" href="#navTables" aria-expanded="false" aria-controls="navTables">
              <span class="sidebar-nav-icon">
                <i data-feather="shopping-cart"></i>
              </span>
              <span class="sidebar-nav-name">
                交易管理
              </span>
              <span class="sidebar-nav-end">
                <i data-feather="chevron-right" class="nav-collapse-icon"></i>
              </span>
            </a>

            <ul class="sidebar-sub-nav collapse" id="navTables">
              <li class="sidebar-nav-item">
                <a href="/transact/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Ma
                  </span>
                  <span class="sidebar-nav-name">
                    交易市场
                  </span>
                </a>
              </li>

              <li class="sidebar-nav-item">
                <a href="/transact/transact_deal/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Da
                  </span>
                  <span class="sidebar-nav-name">
                    待交易
                  </span>
                </a>
              </li>
                
              <li class="sidebar-nav-item">
                <a href="/transact/transact_records/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Re
                  </span>
                  <span class="sidebar-nav-name">
                    交易记录
                  </span>
                </a>
              </li>
                
              <li class="sidebar-nav-item">
                <a href="/transact/bought_results/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    My
                  </span>
                  <span class="sidebar-nav-name">
                    我的购买
                  </span>
                </a>
              </li>
            </ul>
          </li>

          <li class="sidebar-nav-item">
            <a class="sidebar-nav-link collapsed active" data-toggle="collapse" href="#navForms" aria-expanded="false" aria-controls="navForms">
              <span class="sidebar-nav-icon">
                <i data-feather="eye"></i>
              </span>
              <span class="sidebar-nav-name">
                跟踪管理
              </span>
              <span class="sidebar-nav-end">
                <i data-feather="chevron-right" class="nav-collapse-icon"></i>
              </span>
            </a>

            <ul class="sidebar-sub-nav collapse" id="navForms">
              <li class="sidebar-nav-item">
                <a href="/track/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    El
                  </span>
                  <span class="sidebar-nav-name">
                    跟踪市场
                  </span>
                </a>
              </li>

              <li class="sidebar-nav-item">
                <a href="/track/track_list/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Ad
                  </span>
                  <span class="sidebar-nav-name">
                    我的跟踪
                  </span>
                </a>
              </li>
            </ul>
          </li>
            
          <li class="sidebar-nav-item">
            <a href="http://realcool.top:8080/#" class="sidebar-nav-link ">
              <span class="sidebar-nav-icon">
                <i data-feather="aperture"></i>
              </span>
              <span class="sidebar-nav-name">
                区块链浏览器
              </span>
            </a>
          </li>
        </ul>
          
      </div>
        <!-- Sidebar End -->

      <!-- adminx-content-aside -->
      <div class="adminx-content">
        <div class="adminx-main-content">
          <div class="container-fluid">
            <!-- BreadCrumb -->
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb adminx-page-breadcrumb">
                <li class="breadcrumb-item"><a href="/track/">跟踪管理</a></li>
                <li class="breadcrumb-item active" aria-current="page">我的跟踪</li>
              </ol>
            </nav>
          
<div class="row justify-content-center">
        {% for result in page_obj %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ result.Title |truncatechars:15}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted"> by {{ result.Author }}</h6>
                        <p class="card-text">{{ result.get_AchievementType_display}}</p>
                        <p class="card-text">{{ result.get_ResearchStatus_display }} {{ result.Price }}￥</p>
                        <p class="card-text">{{ result.UploadTime }}</p>
                        <a href="/create/detail/{{ result.AchievementID }}/" class="btn btn-primary">查看详情</a>
                        <a href="/track/track_stats_details/{{ result.AchievementID }}/" class="btn btn-info">跟踪详情</a>
                        <a href="{% url 'stop_tracking' research_id=result.AchievementID %}" class="btn btn-danger">取消跟踪</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-md-12 mb-4">
                <p>你还没有跟踪任何科研成果。</p>
            </div>
        {% endfor %}
    </div>
</div>
<div class="pagination-container">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if num == page_obj.number %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
              
              
          </div>
        </div>
      </div>
                      
    </div>

    

    <!-- If you prefer jQuery these are the required scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="{% static 'dist/js/vendor.js' %}"></script>
    <script src="{% static 'dist/js/adminx.js' %}"></script>


    <!-- If you prefer vanilla JS these are the only required scripts -->
    <!-- script src="./dist/js/vendor.js"></script>
    <script src="./dist/js/adminx.vanilla.js"></script-->
  </body>
</html>
