<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
  <head>
    <title>注册</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/adminx.css' %}" media="screen" />
  </head>
  <body>

    <div class="adminx-container d-flex justify-content-center align-items-center">
      <div class="page-login">
          <div class="text-center">
          <a class="navbar-brand mb-4 h1" href="#">
            <img src="{% static 'demo/img/logo.png' %}" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
            科研成果可信转化协同管理系统
          </a>
        </div>
              {% if register_form.captcha.errors %}
                <div class="alert alert-warning" role="alert">
                    <strong>注册失败!</strong> 验证码不正确
                </div>
              {% elif message %}
                <div class="alert alert-warning" role="alert">
                    <strong>注册失败!</strong> {{ message }}
                </div>
              {% endif %}
        <div class="card mb-0">
{#          <div class="card-body">#}
{#          </div>#}
{#          <div class="card-seperator">#}
{#            <span>BlockChain</span>#}
{#          </div>#}
          
          <div class="card-body">
            <form action="/login/register/" method="post">
                {% csrf_token %}
              <div class="form-group">
                <label  class="form-label">用户名</label>
                <input type="text" class="form-control" placeholder="Username" name="username">
              </div>
              <div class="form-group">
                <label class="form-label">邮箱</label>
                <input type="email" class="form-control" placeholder="Email" name="email">
              </div>
              <div class="form-group">
                <label class="form-label">组织</label>
                <input type="text" class="form-control" placeholder="Organization" name="organization">
              </div>
              <div class="form-group">
                <label class="form-label">部门</label>
                <input type="text" class="form-control" placeholder="Department" name="department">
              </div>
              <div class="form-group">
                <label class="form-label">密码</label>
                <input type="password" class="form-control" placeholder="Password" name="password1">
              </div>
              <div class="form-group">
                <label class="form-label">确认密码</label>
                <input type="password" class="form-control" placeholder="Confirm Password" name="password2">
              </div>
                <div class="form-group">
                    <label class="form-label" for="usertype">{{ register_form.usertype.label }}</label>
                    <select class="form-control" id="usertype" name="usertype">
                        <option value="1">科研工作者</option>
                        <option value="2">审核者</option>
                        <option value="3">企业</option>
                    </select>
                </div>
              <div class="form-group">
                <label class="form-label">{{ register_form.captcha.label }}</label><br>
                {{ register_form.captcha }}
              </div>
              <div class="row align-items-center justify-content-center">
                <div class="col-md-3">
                  <button type="submit" class="btn btn-sm btn-block btn-primary">注册</button>
                </div>
                <div class="col-md-7">
                  <a href="/login/" class="align-self-center"><small>已有账户，前往登录</small></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- If you prefer jQuery these are the required scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="{% static 'dist/js/vendor.js' %}"></script>
    <script src="{% static 'dist/js/adminx.js' %}"></script>


    <!-- If you prefer vanilla JS these are the only required scripts -->
    <!-- script src="../dist/js/vendor.js"></script>
    <script src="../dist/js/adminx.vanilla.js"></script-->
  </body>
</html>