<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>审核页面</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    .pagination-container {
        position: fixed;
        bottom: 0;
        left: 50%;
        right: 50%;
        text-align: center;
    }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-25 mx-auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/review/">我的申请</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/review/review_deal/">我的审核</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">我的消息</a>
            </li>
        </ul>
    </div>
</nav>

<br>
<div class="container">
    <div class="row justify-content-center">
        {% for result in page_obj %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ result.Title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted"> created by {{ result.Author }}</h6>
                        <p class="card-text">{{ result.get_AchievementType_display}}</p>
                        <p class="card-text">{{ result.UploadTime }}</p>
                        <a href="/create/detail/{{ result.AchievementID }}" class="btn btn-primary">查看详情</a>
                        <a href="/review/submit_result/{{result.AchievementID }}" class="btn btn-primary">申请审核</a>                    
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-md-12 mb-4">
                <p>您没有未审核的科研成果！！！</p>
            </div>
        {% endfor %}
    </div>
</div>
<div class="pagination-container">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if num == page_obj.number %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-LCPyFKQyML7mqtS+4XytolfqyqSlcbB3bvDuH9vX2sdQMxRonb/M3b9EmhCNNNrV"
            crossorigin="anonymous"></script>


    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>