<!doctype html>
<html lang="zh-CN">
  <head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- 内部样式表 -->
    <style>
    .pagination-container {
        position: fixed;
        bottom: 0;
        left: 50%;
        right: 50%;
        text-align: center;
    }
    table th, table td {
        text-align: center;
    }
    </style>
    <title>审核记录</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <br>
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-25 mx-auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="/review/">待申请</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/review/review_deal/">待审核</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/review/review_records/">审核记录</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">审核记录ID</th>
        <th scope="col">科研成果</th>
        <th scope="col">审核人员</th>
        <th scope="col">审核时间</th>
        <th scope="col">审核结果</th>
        <th scope="col">审核意见</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr>
        <td>{{ record.ReviewRecordID }}</td>
        <td><a href="/create/detail/{{ record.AchievementID.AchievementID }}">{{ record.AchievementID.Title }}</a></td>
        <td>{{ record.ReviewerID }}</td>
        <td>{{ record.ReviewTime }}</td>
        <td>{{ record.get_ReviewResult_display }}</td>
        <td>
          {{ record.ReviewComments|truncatechars:10 }}
            <a href="#" data-toggle="modal" data-target="#exampleModal{{ record.ReviewRecordID }}">……</a>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal{{ record.ReviewRecordID }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">审核意见</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {{ record.ReviewComments }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-LCPyFKQyML7mqtS+4XytolfqyqSlcbB3bvDuH9vX2sdQMxRonb/M3b9EmhCNNNrV"
            crossorigin="anonymous"></script>


    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>