<!doctype html>
<html lang="zh-CN">
  <head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- 内部样式表 -->
    <style>
    .pagination-container {
        position: fixed;
        bottom: 0;
        left: 50%;
        right: 50%;
        text-align: center;
    }
    table th, table td {
        text-align: center;
    }
    </style>
    <title>交易记录</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <br>
<nav class="navbar navbar-expand-lg navbar-light bg-light w-50 mx-auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="/transact/">交易市场</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/transact/transact_deal/">待交易</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/transact/transact_records/">交易记录</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transact/bought_results/">我的购买</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">交易ID</th>
        <th scope="col">科研成果</th>
        <th scope="col">购买方</th>
        <th scope="col">出售方</th>
        <th scope="col">交易发起时间</th>
        <th scope="col">交易金额</th>
        <th scope="col">交易状态</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr>
        <td>{{ record.TransactionID }}</td>
        <td><a href="/create/detail/{{ record.AchievementID.AchievementID }}">{{ record.AchievementID.Title }}</a></td>
        <td>{{ record.Buyer}}</td>
        <td>{{ record.Seller }}</td>
        <td>{{ record.TransactionTime }}</td>
        <td>{{ record.TransactionAmount }}</td>
        <td>{{ record.get_TransactionStatus_display }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-LCPyFKQyML7mqtS+4XytolfqyqSlcbB3bvDuH9vX2sdQMxRonb/M3b9EmhCNNNrV"
            crossorigin="anonymous"></script>


    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>