<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/"> 首页 </a>
            <li class="nav-item ">
                <a class="nav-link" href="/create/"> 发布管理 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/review/"> 审核管理 </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#"> 交易管理 </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#"> 跟踪管理 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" > 统计面板</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#"> 联盟链浏览器 </a>
            </li>
        </ul>
        <ul class="navbar-nav">
        {% if request.session.username %}
            <li class="nav-item">
                <a class="nav-link" href="/login/logout/">登出</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ request.session.username }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login/">登录</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>