{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>首页Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/adminx.css' %}" media="screen" />
{#    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bungee&display=swap">#}
    <!-- jQuery library -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
    .artistic-number {
        font-family: 'Bungee', sans-serif;
        font-size: 3rem;
        color: #4d4b4b;
    }

    @media (max-width: 768px) {
        .artistic-number {
            font-size: 2rem;
        }
    }
    .breadcrumb {
    background-color: #ffffff;
}
    </style>

</head>
<body>
    <div class="adminx-container">
      <nav class="navbar navbar-expand justify-content-between fixed-top">
        <a class="navbar-brand mb-0 h1 d-none d-md-block" href="/">
          <img src="{% static 'demo/img/logo.png' %}" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
          基于区块链的科研成果可信转化协同管理系统
        </a>
          
        <!--搜索框-->
        <form class="form-inline form-quicksearch d-none d-md-block mx-auto">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-icon">
                <i data-feather="search"></i>
              </div>
            </div>
            <input type="text" class="form-control" id="search" placeholder="Type to search...">
          </div>
        </form>
        <!--适配小屏幕的菜单栏-->  
        <div class="d-flex flex-1 d-block d-md-none">
          <a href="#" class="sidebar-toggle ml-3">
            <i data-feather="menu"></i>
          </a>
        </div>

        <ul class="navbar-nav d-flex justify-content-end mr-2">
          <!-- Notificatoins消息通知 -->
          <li class="nav-item dropdown d-flex align-items-center mr-2">
            <a class="nav-link nav-link-notifications" id="dropdownNotifications" data-toggle="dropdown" href="#">
              <i class="oi oi-bell display-inline-block align-middle"></i>
              <span class="nav-link-notification-number">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-notifications" aria-labelledby="dropdownNotifications">
              <div class="notifications-header d-flex justify-content-between align-items-center">
                <span class="notifications-header-title">
                  通知
                </span>
                <a href="#" class="d-flex"><small>标为已读</small></a>
              </div>
              <!--通知列表-->
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action unread">
                  <p class="mb-1">Invitation for <strong>Lunch</strong> on <strong>Jan 12th 2018</strong> by <strong>Laura</strong></p>
                  <div class="mb-1">
                    <button type="button" class="btn btn-primary btn-sm">Accept invite</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Decline</button>
                  </div>
                  <small>1 hour ago</small>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                  <p class="mb-1"><strong class="text-success">Goal completed</strong><br />1,000 new members today</p>
                  <small>3 days ago</small>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                  <p class="mb-1 text-danger"><strong>System error detected</strong></p>
                  <small>3 days ago</small>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                  <p class="mb-1">Your task <strong>Design Draft</strong> is due today.</p>
                  <small>4 days ago</small>
                </a>
              </div>

              <div class="notifications-footer text-center">
                <a href="#"><small>View all notifications</small></a>
              </div>
            </div>
          </li>
          <!-- Notifications个人资料 -->
<li class="nav-item dropdown">
    <a class="nav-link avatar-with-name" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#">
        <i data-feather="user" class="nav-icon"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        {% if request.session.username %}
            <a class="dropdown-item text-center" href="/login/user_profile/">{{ request.session.username }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-center text-danger" href="/login/logout/">登出</a>
        {% else %}
            <a class="dropdown-item text-center" href="/login/">登录</a>
        {% endif %}
    </div>
</li>
        </ul>
      </nav>

      <!-- expand-hover push -->
      <!-- Sidebar -->
      <div class="adminx-sidebar expand-hover push">
        <ul class="sidebar-nav">
          <li class="sidebar-nav-item">
            <a href="/stats/" class="sidebar-nav-link active">
              <span class="sidebar-nav-icon">
                <i data-feather="home"></i>
              </span>
              <span class="sidebar-nav-name">
                首页
              </span>
              <span class="sidebar-nav-end">

              </span>
            </a>
          </li>
            
          <li class="sidebar-nav-item">
            <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#navExtra" aria-expanded="false" aria-controls="navExtra">
              <span class="sidebar-nav-icon">
                <i data-feather="edit"></i>
              </span>
              <span class="sidebar-nav-name">
                发布管理
              </span>
              <span class="sidebar-nav-end">
                <i data-feather="chevron-right" class="nav-collapse-icon"></i>
              </span>
            </a>

            <ul class="sidebar-sub-nav collapse" id="navExtra">
              <li class="sidebar-nav-item">
                <a href="/create/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Li
                  </span>
                  <span class="sidebar-nav-name">
                    立即发布
                  </span>
                </a>
              </li>

              <li class="sidebar-nav-item">
                <a href="/create/results_created_list/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    My
                  </span>
                  <span class="sidebar-nav-name">
                    我的发布
                  </span>
                </a>
              </li>
            </ul>
          </li>

          <li class="sidebar-nav-item">
            <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#example" aria-expanded="false" aria-controls="example">
              <span class="sidebar-nav-icon">
                <i data-feather="book"></i>
              </span>
              <span class="sidebar-nav-name">
                审核管理
              </span>
              <span class="sidebar-nav-end">
                <i data-feather="chevron-right" class="nav-collapse-icon"></i>
              </span>
            </a>

            <ul class="sidebar-sub-nav collapse" id="example">
              <li class="sidebar-nav-item">
                <a href="/review/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Ap
                  </span>
                  <span class="sidebar-nav-name">
                    我的申请
                  </span>
                </a>
              </li>

              <li class="sidebar-nav-item">
                <a href="/review/review_deal/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Ch
                  </span>
                  <span class="sidebar-nav-name">
                    我的审核
                  </span>
                </a>
              </li>
                
              <li class="sidebar-nav-item">
                <a href="/review/review_records/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Re
                  </span>
                  <span class="sidebar-nav-name">
                    审核记录
                  </span>
                </a>
              </li>
            </ul>
          </li>

          <li class="sidebar-nav-item">
            <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#navTables" aria-expanded="false" aria-controls="navTables">
              <span class="sidebar-nav-icon">
                <i data-feather="shopping-cart"></i>
              </span>
              <span class="sidebar-nav-name">
                交易管理
              </span>
              <span class="sidebar-nav-end">
                <i data-feather="chevron-right" class="nav-collapse-icon"></i>
              </span>
            </a>

            <ul class="sidebar-sub-nav collapse" id="navTables">
              <li class="sidebar-nav-item">
                <a href="/transact/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Ma
                  </span>
                  <span class="sidebar-nav-name">
                    交易市场
                  </span>
                </a>
              </li>

              <li class="sidebar-nav-item">
                <a href="/transact/transact_deal/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Da
                  </span>
                  <span class="sidebar-nav-name">
                    待交易
                  </span>
                </a>
              </li>
                
              <li class="sidebar-nav-item">
                <a href="/transact/transact_records/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Re
                  </span>
                  <span class="sidebar-nav-name">
                    交易记录
                  </span>
                </a>
              </li>
                
              <li class="sidebar-nav-item">
                <a href="/transact/bought_results/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    My
                  </span>
                  <span class="sidebar-nav-name">
                    我的购买
                  </span>
                </a>
              </li>
            </ul>
          </li>

          <li class="sidebar-nav-item">
            <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#navForms" aria-expanded="false" aria-controls="navForms">
              <span class="sidebar-nav-icon">
                <i data-feather="eye"></i>
              </span>
              <span class="sidebar-nav-name">
                跟踪管理
              </span>
              <span class="sidebar-nav-end">
                <i data-feather="chevron-right" class="nav-collapse-icon"></i>
              </span>
            </a>

            <ul class="sidebar-sub-nav collapse" id="navForms">
              <li class="sidebar-nav-item">
                <a href="/track/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    El
                  </span>
                  <span class="sidebar-nav-name">
                    跟踪市场
                  </span>
                </a>
              </li>

              <li class="sidebar-nav-item">
                <a href="/track/track_list/" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    Ad
                  </span>
                  <span class="sidebar-nav-name">
                    我的跟踪
                  </span>
                </a>
              </li>
            </ul>
          </li>
            
          <li class="sidebar-nav-item">
            <a href="http://realcool.top:8080/#" class="sidebar-nav-link ">
              <span class="sidebar-nav-icon">
                <i data-feather="aperture"></i>
              </span>
              <span class="sidebar-nav-name">
                区块链浏览器
              </span>
            </a>
          </li>
        </ul>
          
      </div>
        <!-- Sidebar End -->

      <!-- adminx-content-aside -->
      <div class="adminx-content">
        <div class="adminx-main-content">
          <div class="container-fluid">
            <!-- BreadCrumb -->
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb adminx-page-breadcrumb">
                <li class="breadcrumb-item"><a href="#">首页</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
              </ol>
            </nav>
          
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex">
                    <div class="card border-0 bg-primary text-white text-center mb-grid w-100">
                        <div class="d-flex flex-row align-items-center h-100">
                            <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                                <i data-feather="users"></i>
                            </div>
                            <div class="card-body">
                                <div class="card-info-title">用户累计</div>
                                <h3 class="card-title mb-0">
                                    {{ user_count }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex">
                    <div class="card border-0 bg-success text-white text-center mb-grid w-100">
                        <div class="d-flex flex-row align-items-center h-100">
                            <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                                <i data-feather="book"></i>
                            </div>
                            <div class="card-body">
                                <div class="card-info-title">科研成果累计</div>
                                <h3 class="card-title mb-0">
                                    {{ research_result_count }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex">
                    <div class="card border-0 bg-info text-white text-center mb-grid w-100">
                        <div class="d-flex flex-row align-items-center h-100">
                            <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                                <i data-feather="trending-up"></i>
                            </div>
                            <div class="card-body">
                                <div class="card-info-title">科研成果交易量累计</div>
                                <h3 class="card-title mb-0">
                                    {{ successful_transactions }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex">
                    <div class="card border-0 bg-warning text-white text-center mb-grid w-100">
                        <div class="d-flex flex-row align-items-center h-100">
                            <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                                <i data-feather="pie-chart"></i>
                            </div>
                            <div class="card-body">
                                <div class="card-info-title">科研成果交易金额累计</div>
                                <h3 class="card-title mb-0" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    ￥{{ total_transaction_amount }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-3 border-0 text-center" style="max-width: 300px; max-height: 300px;">
                        <h6 class="card-title">审核通过率</h6>
                        <div class="card-body">
                            <canvas id="approvalRateChart" width="300" height="300"></canvas>
                        </div>
                    </div>
                </div>
                
        
                <div class="col-md-3">
                    <div class="card mb-3 border-0 text-center">
                        <h6 class="card-title">用户类型统计</h6>
                        <div class="card-body">
                            <canvas id="userCountByTypeChart" width="300" height="300"></canvas>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-6">
                    <div class="card mb-3 border-0 text-center " style ="max-height: 300px;">
                        <h6 class="card-title">最近用户注册趋势</h6>
                        <div class="card-body">
                            <canvas id="recentUserTrendChart" width="600" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-3 border-0 text-center">
                    <h6 class="card-title">科研成果类型统计</h6>
                    <div class="card-body">
                        <canvas id="researchResultTypeChart" width="300" height="300"></canvas>
                    </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card mb-3 border-0 text-center">
                    <h6 class="card-title">最近创建的5项科研成果
                        <button type="button" class="btn btn-light btn-sm  d-inline-block" data-toggle="modal" data-target="#researchResultsModal">查看更多</button>
                    </h6>
                    <!-- Modal -->
                    <div class="modal fade" id="researchResultsModal" tabindex="-1" role="dialog" aria-labelledby="researchResultsModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="researchResultsModalLabel">所有科研成果</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <!-- Table for all research results -->
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>标题</th>
                                        <th>作者</th>
                                        <th>成果类型</th>
                                        <th>上传时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for result in total_research_results %}
                                    <tr>
                                        <td>{{ result.Title }}</td>
                                        <td>{{ result.Author }}</td>
                                        <td>{{ result.get_AchievementType_display }}</td>
                                        <td>{{ result.UploadTime }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
        <!-- Table for recent research results -->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>标题</th>
                                    <th>作者</th>
                                    <th>成果类型</th>
                                    <th>上传时间</th>
                                    <!-- Add more columns as needed -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for result in recent_research_results %}
                                <tr>
                                        <td>{{ result.Title|truncatechars:15 }}</td>
                                        <td>{{ result.Author }}</td>
                                        <td>{{ result.get_AchievementType_display }}</td>
                                        <td>{{ result.UploadTime }}</td>
                                        <!-- Add more data as needed -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                     </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3 border-0 text-center">
                    <h5 class="card-title">最近的5条交易记录
                    <button type="button" class="btn btn-light btn-sm  d-inline-block" data-toggle="modal" data-target="#transactionsModal">查看更多</button>
                    </h5>
                    <!-- Modal -->
        <div class="modal fade" id="transactionsModal" tabindex="-1" role="dialog" aria-labelledby="transactionsModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="transactionsModalLabel">所有交易记录</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Table for all transactions -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>成果</th>
                            <th>交易时间</th>
                            <th>金额</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in total_successful_transactions %}
                        <tr>
                            <td>{{ transaction.AchievementID.Title }}</td>
                            <td>{{ transaction.TransactionTime }}</td>
                            <td>{{ transaction.TransactionAmount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
              </div>
            </div>
          </div>
        </div>
                    <div class="card-body">
        <!-- Table for recent transactions -->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>成果</th>
                                    <th>交易时间</th>
                                    <th>金额</th>
                                    <!-- Add more columns as needed -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in recent_successful_transactions %}
                                <tr>
                                    <td>{{ transaction.AchievementID.Title|truncatechars:14 }}</td>
                                    <td>{{ transaction.TransactionTime }}</td>
                                    <td>{{ transaction.TransactionAmount }}</td>
                                        <!-- Add more data as needed -->
                               
                                </tr>
                                  {% endfor %}
                            </tbody>
                        </table>
                     </div>
                    </div>
                </div>
                    <div class="col-md-6">
                    <div class="card mb-3 border-0 text-center">
                        <h5 class="card-title">系统用户活跃度变化</h5>
                        <div class="card-body">
                            <canvas id="dailyActivityChart" width="300" height="300"></canvas>
                        </div>
                    </div>
                </div>
          
        </div>
        </div>
        
                      
                  </div>
                      
        
                </div>
              </div>
            </div>
    

<script>
    var ctx = document.getElementById('approvalRateChart').getContext('2d');
    var approvalRateChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['通过', '未通过'],
            datasets: [{
                data: [{{ approval_rate }}, {{ disapproval_rate }}],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    display: false // 隐藏纵轴
                }
            }
        }
    });
</script>

<script>
var ctx = document.getElementById('userCountByTypeChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in user_count_by_type %}
                {% if item.usertype == '1' %} '科研工作者',
                {% elif item.usertype == '2' %} '审核者',
                {% elif item.usertype == '3' %} '企业',
                {% endif %}
            {% endfor %}],

        datasets: [{
            label: '用户数量',
            data: [{% for item in user_count_by_type %}{{ item.count }},{% endfor %}],
            backgroundColor: [
                'rgb(142,232,232)',
                'rgb(237,170,170)',
                'rgb(230,220,156)',
            ],
        }]
    },
    options: {
        
        scales: {
            y: {
                beginAtZero: true,  // 纵轴从0开始
                ticks: {
                    precision: 0,
                    stepSize: 1 // 设置刻度间隔
                }
            }
        }
    }
});
</script>

<!-- Line chart for recent user registration trend -->

<script>
var ctx = document.getElementById('recentUserTrendChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for item in recent_user_trend %}'{{ item.date|date:"m-d" }}',{% endfor %}],
        datasets: [{
            label: '注册人数',  // 设置数据集的标签
            data: [{% for item in recent_user_trend %}{{ item.count }},{% endfor %}],
            fill: false,  // 不填充区域
            borderColor: 'rgb(112,176,241)',
            backgroundColor: 'rgb(112,176,241)',
            tension: 0.3  // 设置线条的弯曲程度
        }]
    },
    options: {
        legend: {
            display: true,  // 显示图例
        },
        scales: {
            x: {
                display: true,  // 显示横轴
                title: {
                    display: true,
                    text: '日期'
                }
            },
            y: {
                beginAtZero: true,  // 纵轴从0开始
                ticks: {
                    precision: 0,
                    stepSize: 1 // 设置刻度间隔
                },
                title: {
                    display: true,
                    text: '人数'
                }
            }
            
        }
    },
});
</script>

<script>
// 生成标签和数据集
var labels = [];
var data = [];
var backgroundColors = [
    'rgb(142,232,232)',
    'rgb(241,191,191)',
    'rgb(230,220,156)',
    'rgb(170,226,168)',
];

{% for item in research_results_by_type %}
    labels.push('{% if item.AchievementType == '1' %}专利{% elif item.AchievementType == '2' %}论文{% elif item.AchievementType == '3' %}软件{% elif item.AchievementType == '4' %}技术报告{% endif %}');
    data.push({{ item.count }});
{% endfor %}
// 创建Chart.js实例
var ctx = document.getElementById('researchResultTypeChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: labels,
        datasets: [{
            data: data,
            backgroundColor: backgroundColors,
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            position: 'right',
        },
        plugins: {
            datalabels: {
                color: '#fff',
                formatter: (value, ctx) => {
                    let sum = 0;
                    let dataArr = ctx.chart.data.datasets[0].data;
                    dataArr.map(data => {
                        sum += data;
                    });
                    return (value * 100 / sum).toFixed(2) + "%";
                },
            }
        }
    },
});
</script>

<script>
// Prepare data for Chart.js
var labels = [];
var data = [];
{% for item in daily_activity %}
    labels.push('{{ item.date|date:"m-d"  }}');
    data.push({{ item.count }});
{% endfor %}

// Create a Chart.js instance
var ctx = document.getElementById('dailyActivityChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: '每日活跃度',
            data: data,
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            backgroundColor: 'rgb(75, 192, 192)',
            tension: 0.3
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            x: {
                display: true,
                title: {
                    display: true,
                    text: '日期'
                }
            },
            y: {
                display: true,
                title: {
                    display: true,
                    text: '活跃度'
                }
            }
        }
    }
});
</script>

    <!-- If you prefer jQuery these are the required scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="{% static 'dist/js/vendor.js' %}"></script>
    <script src="{% static 'dist/js/adminx.js' %}"></script>


    <!-- If you prefer vanilla JS these are the only required scripts -->
    <!-- script src="./dist/js/vendor.js"></script>
    <script src="./dist/js/adminx.vanilla.js"></script-->
  </body>
</html>






